app:
  cloud:
    host: localhost
    port: 8848
    group: dev
    username: nacos
    password: nacos
    namespace: /
dubbo:
  consumer:
    lazy: false
    timeout: 5000
    check: false
    retries: 0
  application:
    name: dubbo-${spring.application.name}
    qos-enable: false
    qos-accept-foreign-ip: false
  protocol:
    name: dubbo
    port: -1
    threadpool: virtual
    accepts: 1000
    payload: 8388608
    buffer: 8192
    heartbeat: 60000
    queues: 200
  registry:
    address: nacos://${app.cloud.host}:${app.cloud.port}
  scan:
    base-packages: ${app.dubbo.scan-packages}
spring:
  cloud:
    nacos:
      config:
        server-addr: ${app.cloud.host}:${app.cloud.port}
        namespace: ${app.cloud.namespace}
        group: ${app.cloud.group}
        file-extension: yaml
        username: ${app.cloud.username}
        password: ${app.cloud.password}